.slider {
  -webkit-appearance: none;
  width: 325px;
  height: 1px;
  color: #000000;
  background: #b4b4b4;
  outline: none;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #000000;
  cursor: pointer;
  border-radius: 20px;
}
